.DS_Store
.lsp-session-v1
*.init.el
auto-save-list/*
auto-save/*
tmp*
recentf
bookmarks
elgrep-data.*
*.elc
local.el
/work-local.el
/package-quickstart.el
/eshell/
/elpa/
history
projectile-bookmarks.eld
network-security.data
projectile.cache
/projects
.cache/
.dap-breakpoints
eclipse.jdt.ls/
server/
